img{
    border-radius: 5px;
}
.col-md-3{
    margin: 30px;
}
p{
    font-weight: bold;
    font-size: 23px;
}
#navbar{
    background-color: black;
}
li{
    color: white;
    list-style-type: none;
    display: inline;
    margin-left: 30px;
}
#nav-elements{
    text-align: center;
    padding: 10px;
}
#title{
    font-size: 30px;
    
}
#footer{
    background-color: rgb(48, 6, 6);
    color: white;
    padding: 10px;
    text-align: center;
}